@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    @apply
    fixed top-0 w-full px-5 sm:px-24 py-2.5 rounded bg-transparent my-3
}

.wrap {
    @apply
    container flex flex-wrap justify-between items-center mx-auto
}

.menuBT {
    @apply
    inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600
}

.menu {
    @apply
    hidden justify-between items-center w-full md:flex md:w-auto md:order-1 md:-ml-36
}

.menuContainer {
    @apply
    flex flex-col md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 bg-transparent text-white
}

.menuItem {
    @apply 
    py-2 px-4 md:p-0 text-xl font-thin text-backgrounds-400 dark:text-white font-medium
    hover:text-color1-500 cursor-pointer
    active:text-color1-500
}


.toolbar {
    @apply
    grid grid-cols-5 
    bg-glass-300 items-center border-white xl:border-r border-y xl:rounded-r-gen
    fixed bottom-0 xl:grid-cols-1 xl:left-0 align-middle	
    w-full xl:w-20 xl:h-[80%]   xl:grid-rows-4 
    xl:py-32
    xl:inset-y-0 xl:my-auto 
  }

  .imageBG {
    @apply
    h-14 w-14 p-3 cursor-pointer rounded-full
    hover:bg-color1-500 focus:bg-color1-500  
    dark:hover:bg-color2-500 dark:focus:bg-color2-500 
    text-center grid mx-auto
    
  }